body {
  background-color: #121f3d;
  /* font-family: ; */
}

#banner {
  background-color: #ffcb00;
  height: 68px;
}

.hero-text {
  width: 500px;
  color: white;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
}

.policies a {
  color: rgb(44, 192, 255) !important;
  cursor: pointer;
}
